/* Stile per la griglia Masonry */

#Subheader {
  display: none;
}

.tv-video-mansory {
  padding-bottom: 50px;
}

.grid-item:hover {
  z-index: 1000000;
}

.grid-item a {
  transition: transform 0.8s ease, box-shadow 0.2s ease; /* Aggiungi transizioni fluide */
  content: "";
  display: block;
  clear: both;
}

.grid-item a:hover {
  transform: scale(1.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000000;
  transition: transform 0.4s ease, box-shadow 0.5s ease; /* Aggiungi transizioni fluide */
}

.tv-video-mansory /* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.tv-video-mansory /* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 19%;
}

.tv-video-mansory .grid-item {
  /* float: left; */
  /* height: 100px;
  background: #0d8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7); */
}

.tv-video-mansory .grid-item--width2 {
  width: 40%;
}

.tv-video-mansory .grid-item--height2 {
  height: 200px;
}

.tv-video-mansory .grid-item .tv-video-image-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 4px;
}

.tv-video-mansory .grid-item .tv-video-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* .tv-video-mansory .grid-item .tv-video-info-container {
  padding: 35px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 230px;
  margin: 0px 20px;
  margin-top: -50px;
  position: relative;
  z-index: 10;
} */

/* .tv-video-mansory .grid-item .tv-video-info-container {
  padding: 10px 25px;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  height: 150px;
  z-index: 10;
  background-image: linear-gradient(
    to top,
    #122e57 15%,
    rgba(18, 46, 87, 0) 100%
  ) !important;
  position: absolute;
  bottom: 0;
  text-align: center;
  justify-content: space-around;
} */

.tv-video-mansory .grid-item .tv-video-info-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  width: 100%;
  height: 80%;
  z-index: 10;
  background-image: linear-gradient(
    to top,
    #122e57 10%,
    rgba(18, 46, 87, 0) 70%
  ) !important;
  border-radius: 0 0 4px 4px;
}

.tv-video-mansory .grid-item .tv-video-info-container:hover {
}

.tv-video-mansory .grid-item .tv-video-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tv-video-mansory .grid-item .tv-video-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 0 20px;
}

.tv-video-mansory .grid-item .tv-video-location {
  font-size: 15px;
  color: #fff;
  margin: 0;
}

.tv-video-mansory .grid-item .tv-video-price {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #53edff;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0;
}

.tv-video-mansory .grid-item .tv-video-date {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.tv-video-mansory .grid-item .tv-video-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.tv-video-mansory .grid-item .tv-video-book-button {
  display: none !important;
  display: inline-block;
  padding: 14px 24px;
  background-color: #020202;
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: color var(--mfn-button-transition) ease-in-out,
    background-color var(--mfn-button-transition) ease-in-out,
    border-color var(--mfn-button-transition) ease-in-out;
}

.tv-video-mansory .grid-item .tv-video-book-button:hover {
  background-color: #0b0d33;
}

.tv-video-mansory .no-posts-found .tv-video-title {
  font-size: 18px;
  color: #ff0000;
  text-align: center;
  margin: 20px;
}

/* Media query per schermi più piccoli */

/* Per tablet (larghezza fino a 1024px) */
@media (max-width: 1024px) {
  .tv-video-mansory .grid-item {
    width: calc(50% - 20px); /* Due colonne per tablet */
  }
  .tv-video-mansory .filter-button-group button {
    margin: 10px !important;
  }
}

/* Per dispositivi mobili (larghezza fino a 768px) */
@media (max-width: 768px) {
  .tv-video-mansory .grid-item {
    width: calc(100% - 20px); /* Una colonna su dispositivi mobili */
  }
  .tv-video-mansory .filter-button-group button {
    margin: 10px !important;
  }
}

/* Stile per i bottoni di filtro */
#category-filter {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

#category-filter .filter-button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: rgb(39, 149, 210);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  transition: color var(--mfn-button-transition) ease-in-out,
    background-color var(--mfn-button-transition) ease-in-out,
    border-color var(--mfn-button-transition) ease-in-out;
}

#category-filter .filter-button:hover {
  background-color: #d7fc69;
}
